<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/css/bootstrap.css' %}">
    <script defer src="{% static 'base/js/bootstrap.js' %}"></script>
    <script defer src="{% static 'base\js\jquery-3.7.1.min.js' %}"></script>
    <script defer src="{% static 'base\js\js.js' %}"></script>
    {% block link %}
        
    {% endblock link %}
    <title>Document</title>
    
</head>
<!-- class="d-flex flex-column" -->
<body class="bg-light" id="body">

    <header class="w-100 d-flex align-items-center border-bottom shadow-sm bg-secondary bg-gradient" style="width: 100%;">

        <div class="col-2"></div>
        <div class="first_header d-flex align-items-center col-2 gap-4">
            <h1><a href="{% url 'main' %}" id="name-of-site">Decaten</a></h1>
            <a href="{% url 'catalog' %}" id="catalog">Каталог</a>
        </div>
        <div class="col-4"></div>
        <div class="header_links col-2 d-flex align-items-center gap-4">
            {% if user.is_authenticated == True %}
                <a href="{% url 'cart' %}">Кошик</a>
                <a href="">Замовлення</a>
                <a href="{% url 'logout' %}">Вийти</a>
                {% if not user.is_superuser %}
                    <p>{{user.first_name}}</p>
                {% else %}
                    <p>{{user.username}}</p>
                {% endif %}
            {% else %}
                <a href="{% url 'cart' %}">Кошик</a>
                <a href="{% url 'log' %}">Авторизація</a>
                <a href="{% url 'reg' %}">Реєстрація</a>
            {% endif %}
        </div>
        <div class="col-2"></div>
    </header>
    <main >
        {% block main %}

        {% endblock %}
        <button type="button" class="mybtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div id="button_support">
                <img src="https://www.svgrepo.com/show/448396/discussion-circle.svg" alt="">
            </div>
            
        </button>
          
          <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Підтвердження дії</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Після того як ви натиснете на кнопку перейти до чату ви перейдете на сторінку чату з підтримкою. ВОна може відповісти вам напротязі найближчих 5 хвилин. Підтримка відповідае тільки на прості питання!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    <a href="{% url 'support' %}"><button type="button" class="btn btn-primary">Перейти до чату</button></a>
                </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <h2><a href="">Decaten</a></h2>
        <div class="phone_and_email">
            <p>Email: decaten@gmail.com</p>
            <p>Служба підтримки</p>
            <p>+380980585611</p>
        </div>
        <div class="socialmedias">
            <p>Наші соціальні мережі</p>
            <div>
                <a href=""><img src="https://www.svgrepo.com/show/494273/facebook-round.svg" alt=""></a>
                <a href=""><img src="https://www.svgrepo.com/show/508977/twitter-3.svg" alt=""></a>
                <a href=""><img src="https://www.svgrepo.com/show/473804/telegram.svg" alt=""></a>
            </div>
        </div>
        <div class="hrefs">
            <a href="{% url 'main' %}">Головна</a>
            <a href="{% url 'cart' %}">Кошик</a>
            <a href="{% url 'catalog' %}">Каталог</a>
        </div>
    </footer>
</body>
</html>