{% extends 'base/base.html' %}
{% load static %}



{% block link %}
    <link rel="stylesheet" href="{% static 'my_order/css/my_order.css' %}">
    <script defer src="{% static 'my_order/js/my_order.js' %}"></script>
{% endblock %}



{% block main %}
    <!-- 
        <div class="form_div">
            <form class="order_form" action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Ім'я користувача</label>
                    <input required name="first_name" type="text" class="form-control first_name" id="exampleInputName" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Прізвище користувача</label>
                    <input required name="last_name" type="text" class="form-control last_name" id="exampleInputName" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="invalid-feedback"></div>
                </div>
                <button>Відправити</button>
            </form>
        </div>
        
    -->
    <div class="content">
        <form action="" method="POST">
          <div class="form_div">
            <select id="area-select" class="form-select">
              <option value="">Оберіть Область</option>
            </select>
              
            <select id="city-select" class="form-select">
                <option value="">Оберіть Місто</option>
            </select>


            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="Branch" disabled>
              <label class="form-check-label" for="Branch">Відділення</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="Postomat" disabled>
              <label class="form-check-label" for="Postomat">Поштомати</label>
            </div>
            <!-- <div>
              <input type="radio" id="">
              <label for="Branch">Відділення</label>
              <input type="radio" id="Postomat">
              <label for="Postomat">Поштомати</label>
            </div> -->
              
            <select id="location-select" class="form-select">
                <option value="">Оберіть Відділення</option>
            </select>

            <div class="for_credit_card">
              <label for="credit_card">Номер картки</label>
              <input type="text" class="form-control" id="credit_card">
              
              <div class="additional-info">

                <div class="expiration-date-parent">
                  <label for="month">Термін дії</label>
                  <div class="expiration-date">
                    <input type="text" class="form-control" id="month">
                    <span class="input-separator">/</span>
                    <input type="text" class="form-control" id="year">
                  </div>



                </div>
                <div class="cvv">
                  <label for="cvv">CVV</label>
                  <input type="password" class="form-control" id="cvv">
                </div>
                
              </div>

            </div>
            <div class="button_send">
              <button class="send btn btn-success">Оформити замовлення</button>
            </div>
          </div>
            


        </form>

        
    </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        // Завантаження списку областей при завантаженні сторінки
        $(document).ready(function() {
          $.ajax({
            url: '/areas/',
            success: function(data) {
              var $areaSelect = $('#area-select');
              $areaSelect.empty();
              
              $areaSelect.append('<option value="">Оберіть Область</option>');
              data.forEach(function(area) {
                $areaSelect.append(
                  $('<option>', {
                    value: area.Ref,
                    text: area.Description
                  })
                );
              });
            }
          });
        });
      
        // Завантаження списку міст при виборі області
        $('#area-select').on('change', function() {
          var areaRef = $(this).val();
          $('#Branch').prop('checked', false)
          $('#Postomat').prop('checked', false)

          $('#Branch').attr('disabled', true)
          $('#Postomat').attr('disabled', true)
          $.ajax({
            url: '/cities/',
            data: { 'area_ref': areaRef },
            success: function(data) {
              var $citySelect = $('#city-select');
              $citySelect.empty();
              $('#location-select').empty()

              $citySelect.append('<option value="">Оберіть Місто</option>');
              $('#location-select').append('<option value="">Оберіть відділення</option>')
              data.forEach(function(city) {
                $citySelect.append(
                  $('<option>', {
                    value: city.Ref,
                    text: city.Description
                  })
                );
              });
            }
          });
        });
      
        // Перевірка наявності відділень та поштоматів при виборі міста
        $('#city-select').on('change', function() {
          var cityRef = $(this).val();
          $('#Branch').prop('checked', false)
          $('#Postomat').prop('checked', false)

          $('#Branch').attr('disabled', true)
          $('#Postomat').attr('disabled', true)
          $('#location-select').empty()
          $('#location-select').append('<option value="">Оберіть відділення</option>')
          $.ajax({
            url: '/warehouses/',
            data: { 'city_ref': cityRef },
            success: function(data) {
              var branch = false
              var postomat = false
              data.forEach(function(location) {
                if (!branch){
                  if (location.CategoryOfWarehouse == 'Branch'){
                    branch = true

                  }
                }
                if (!postomat){
                  if (location.CategoryOfWarehouse == 'Postomat'){
                    postomat = true
                  }
                }
              });
              if (branch){
                $("#Branch").removeAttr('disabled')
              }
              if (postomat){
                $("#Postomat").removeAttr('disabled')
              }
            }
          });
        });

        $('#Branch').on('click', function(){
          // console.log(123123123)
          var cityRef = $('#city-select').val()
          $.ajax({
            url: '/warehouses/',
            type: "GET",
            data: {'city_ref': cityRef},
            success: function(data){
              var $locationSelect = $('#location-select');
              $locationSelect.empty();
              $locationSelect.append('<option value="">Оберіть відділення</option>');
              data.forEach(function(location) {
                if (location.CategoryOfWarehouse == 'Branch'){
                  $locationSelect.append(
                  $('<option>', {
                    value: location.Ref,
                    text: location.Description
                  })
                );
                }
              });
            }
          })
        })

        $('#Postomat').on('click', function(){
          // console.log(123123123)
          var cityRef = $('#city-select').val()
          $.ajax({
            url: '/warehouses/',
            type: "GET",
            data: {'city_ref': cityRef},
            success: function(data){
              var $locationSelect = $('#location-select');
              $locationSelect.empty();
              $locationSelect.append('<option value="">Оберіть поштомат</option>');
              data.forEach(function(location) {
                if (location.CategoryOfWarehouse == 'Postomat'){
                  $locationSelect.append(
                  $('<option>', {
                    value: location.Ref,
                    text: location.Description
                  })
                );
                }
              });
            }
          })
        })
      
        // // Заповнення селекту локацій залежно від вибору радіо кнопки
        // $('input[name="location_type"]').on('change', function() {
        //   var cityRef = $('#city-select').val();
        //   if (!cityRef) return;
        //   $.ajax({
        //     url: '/warehouses/',
        //     data: { 'city_ref': cityRef },
        //     success: function(data) {
        //       fillLocationSelect(data);
        //     }
        //   });
        // });
      
        // function fillLocationSelect(data) {
        //   var $locationSelect = $('#location-select');
        //   $locationSelect.empty();
        //   $locationSelect.append('<option value="">Select Location</option>');
        //   var selectedType = $('input[name="location_type"]:checked').val();
        //   data.forEach(function(location) {
        //     if ((selectedType === 'warehouses' && location.TypeOfWarehouse === '9') ||
        //         (selectedType === 'postmachines' && location.TypeOfWarehouse === '10')) {
        //       $locationSelect.append(
        //         $('<option>', {
        //           value: location.Ref,
        //           text: location.Description
        //         })
        //       );
        //     }
        //   });
        // }
      </script>
{% endblock %}