{% extends 'base/base.html' %}
{% load static %}



{% block link %}
    <link rel="stylesheet" href="{% static 'my_order/css/my_order.css' %}">
    <script defer src="{% static 'my_order/js/my_order.js' %}"></script>
    <script defer src="{% static 'my_order/js/validation.js' %}"></script>
{% endblock %}



{% block main %}
    <!-- 
        <div class="form_div">
            <form class="order_form" action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Ім'я користувача</label>
                    <input required name="first_name" type="text" class="form-control first_name" id="exampleInputName" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Прізвище користувача</label>
                    <input required name="last_name" type="text" class="form-control last_name" id="exampleInputName" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="invalid-feedback"></div>
                </div>
                <button>Відправити</button>
            </form>
        </div>
        
    -->
    <div class="content">
        <form action="" method="POST">
          {% csrf_token %}
          
          <div class="form_div">
            <h2>Оформити замовлення</h2>
            <div class="nova_poshta">
              <select id="area-select" class="form-select">
                <option value="" selected disabled hidden>Оберіть область</option>
              </select>
                
              <select id="city-select" class="form-select">
                  <option value="" selected disabled hidden>Оберіть місто</option>
              </select>
  
  
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Branch" disabled>
                <label class="form-check-label" for="Branch">Відділення</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Postomat" disabled>
                <label class="form-check-label" for="Postomat">Поштомати</label>
              </div>

              <select id="location-select" class="form-select">
                  <option value="" selected disabled hidden>Оберіть відділення</option>
              </select>
            </div>
            
            <div class="variant_of_payment">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="payment_later" checked>
                <label class="form-check-label" for="payment_later">Оплата при отриманні</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="payment_now">
                <label class="form-check-label" for="payment_now">Оплата карткою онлайн</label>
              </div>
            </div>

            <div class="for_credit_card">
              <label for="credit_card">Номер картки</label>
              <input type="tel" class="form-control" id="credit_card" minlength="16" maxlength="16">
              
              <div class="additional-info">

                <div class="expiration-date-parent">
                  <label for="month">Термін дії</label>
                  <div class="expiration-date">
                    <input type="tel" class="form-control" id="month" maxlength="2">
                    <span class="input-separator">/</span>
                    <input type="tel" class="form-control" id="year" maxlength="2">
                  </div>



                </div>
                <div class="cvv">
                  <label for="cvv">CVV</label>
                  <input type="tel" class="form-control" id="cvv" maxlength="3">
                </div>
                
              </div>


              
                
              </div>
              <div class="info_about_receiver">
                <div class="first_column">
                  <label for="last_name">Прізвище</label>
                  <input type="text" class="form-control" id="last_name" maxlength="50">

                  <label for="first_name">Ім'я</label>
                  <input type="text" class="form-control" id="first_name" maxlength="50">
                </div>
                
                <div class="second_column">
                  <label for="middle_name">По батькові</label>
                  <input type="text" class="form-control" id="middle_name" maxlength="50">

                  <label for="number">Номер телефону</label>
                  <input type="tel" class="form-control" id="number" maxlength="9">
                </div>
            </div>

            <div class="final_price_div">
              <input type="hidden" value="{{price}}">
              <h5>Сума замовлення: {{price}} грн</h5>
            </div>
            <div class="button_send">
              <button class="send btn btn-success">Оформити замовлення</button>
            </div>
          </div>
            


        </form>

        
    </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        // Завантаження списку областей при завантаженні сторінки
        
      
        // // Заповнення селекту локацій залежно від вибору радіо кнопки
        // $('input[name="location_type"]').on('change', function() {
        //   var cityRef = $('#city-select').val();
        //   if (!cityRef) return;
        //   $.ajax({
        //     url: '/warehouses/',
        //     data: { 'city_ref': cityRef },
        //     success: function(data) {
        //       fillLocationSelect(data);
        //     }
        //   });
        // });
      
        // function fillLocationSelect(data) {
        //   var $locationSelect = $('#location-select');
        //   $locationSelect.empty();
        //   $locationSelect.append('<option value="">Select Location</option>');
        //   var selectedType = $('input[name="location_type"]:checked').val();
        //   data.forEach(function(location) {
        //     if ((selectedType === 'warehouses' && location.TypeOfWarehouse === '9') ||
        //         (selectedType === 'postmachines' && location.TypeOfWarehouse === '10')) {
        //       $locationSelect.append(
        //         $('<option>', {
        //           value: location.Ref,
        //           text: location.Description
        //         })
        //       );
        //     }
        //   });
        // }
      </script>
{% endblock %}

{% block footer %}
{% endblock %}