{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <script defer src="{% static 'cart/js/cart.js' %}"></script>
    <script defer src="{% static 'cart/js/plus_count.js' %}"></script>
    <script defer src="{% static 'cart/js/minus_count.js' %}"></script>
    <script defer src="{% static 'cart/js/delete_product.js' %}"></script>
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{% block main %}
<!-- row justify-content-center align-items-center content mt-4 h-100 -->
    <div class="content">

        <!-- <div class="col-1"></div> -->
        <!-- col-10 d-flex justify-content-start gap-3 flex-wrap ps-3  -->
        <div class="error_empty">
            <h2>Кошик порожній!</h2>
            <img src="{% static 'cart/icons/cart.svg' %}" width="200px" alt="">
        </div>
        <div class="products">
            {% for product_in_cart in products %}
                <div class="card_{{product_in_cart.product_id}}_{{product_in_cart.flavour_id}} product_card product_{{product.id}}_{{product_in_cart.flavour_id}}">
                    {% for flavour in flavours %}
                        {% if flavour.id == product_in_cart.flavour_id %}
                            <img src="{{flavour.image.url}}" alt="" class="image_flavour{{product_in_cart.product_id}}">
                        {% endif %}
                    {% endfor %}
                    
                    <h5>{{product_in_cart.product.name}}</h5>
                    {% for price in prices %}
                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                            <p id="price_{{product_in_cart.product_id}}_{{product_in_cart.flavour_id}}">{{price}} грн</p>
                        {% endif %}
                    {% endfor %}

                    {% for flavour in flavours %}
                        {% if flavour.id == product_in_cart.flavour_id %}
                            <p id="flavour_name">{{flavour.name}}</p>
                            <p>Кількість на складі: {{flavour.count_of_product}}</p>
                        {% endif %}
                    {% endfor %}


                    <div class="count_div">
                        <form method="POST">
                            {% csrf_token %}
                            {% for flavour in flavours %}
                                {% if flavour.id == product_in_cart.flavour_id %}
                                    <input type="hidden" value="{{flavour.id}},{{flavour.for_product.id}}" name="minus" class="minus_input_hidden_{{flavour.for_product.id}}">
                                {% endif %}
                            {% endfor %}
                            <button class="minus" value="{{product_in_cart.flavour_id}},{{product_in_cart.product_id}}">-</button>
                        </form>
                        <div class="count product_count_{{product_in_cart.product_id}}_{{product_in_cart.flavour_id}}">Кількість: {{product_in_cart.count}}</div>
                        <form method="POST">
                            {% csrf_token %}
                            {% for flavour in flavours %}
                                {% if flavour.id == product_in_cart.flavour_id %}
                                    <input type="hidden" value="{{flavour.id}},{{flavour.for_product.id}}" name="plus" class="plus_input_hidden_{{flavour.for_product.id}}">
                                    <button class="plus" value="{{product_in_cart.flavour_id}},{{product_in_cart.product_id}},{{flavour.count_of_product}},{{product_in_cart.count}}">+</button>
                                {% endif %}
                            {% endfor %}
                            
                            
                        </form>
        
                        
                    </div>
                    <div class="delete_div">
                        <form method="POST">
                            {% csrf_token %}
                            {% for flavour in flavours %}
                                {% if flavour.id == product_in_cart.flavour_id %}
                                    <input type="hidden" value="{{flavour.id}},{{flavour.for_product.id}}" name="delete" class="delete_input_hidden_{{flavour.for_product.id}}">
                                {% endif %}
                            {% endfor %}
                            <button class="delete" value="{{product_in_cart.flavour_id}},{{product_in_cart.product_id}}">Видалити</button>
                        </form>
                    </div>
                    

                </div>
            {% endfor %}
        </div>

        {% if products %}
            <a href="{% url 'my_order' %}" class="make_order">Замовити</a>
        {% endif %}
        
        <div class="toast-container position-fixed bottom-0 end-0 p-3 me-2">
            <div id="success_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body bg-success">
                    <div class="d-flex text-white justify-content-between">
                        Товар було додано до кошику
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3 me-2">
            <div id="danger_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body bg-danger">
                    <div class="d-flex text-white justify-content-between">
                        Такої кількості товару немає на складі
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock main %}