{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'catalog_product/css/catalog.css' %}">
    <script defer src="{% static 'catalog_product/js/catalog.js' %}"></script>
    <script defer src="{% static 'catalog_product/js/flavour.js' %}"></script>
    <script defer src="{% static 'catalog_product/js/product_image.js' %}"></script>
    <script defer src="{% static 'catalog_product/js/price.js' %}"></script>

{% endblock %}

{% block main %}
<!-- d-flex justify-content-center align-items-center -->
    <div class="content">
        <!-- <div class="col-1"></div> -->


        <div class="filter_section">
            <form class="filters" method="POST" >
                {% csrf_token %}
                <div class="price-filter">
                    <div class="price-name">
                        <h5>Ціна</h5>
                    </div>
                    <div class="price-input">
                        <div class="field">
                            <input type="number" class="input-min" value="{{min_price}}">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                            <input type="number" class="input-max" value="{{max_price}}">
                        </div>
                    </div>
                    
                    <div class="slider">
                        <div class="progress"></div>
                    </div>
                    <div class="range-input">
                        <input type="range" id="min-price-slider" min="{{min_price}}" max="{{max_price}}" step="1"
                            value="{{min_price}}">
                        <input type="range" id="max-price-slider" min="{{min_price}}" max="{{max_price}}" step="1"
                            value="{{max_price}}">
                    </div>
                </div>
                {% for name_of_filter in names_of_filters %}
                    <div class="filter_category filter_category_pc" id="filter_category_phone" method="POST">
                        <h5>{{name_of_filter.name}}</h5>
                        {% for name_of_semi_filter in list_of_filters %}
                            {% for name_of_filter_semi in name_of_semi_filter %}
                                {% if name_of_filter == name_of_filter_semi.name_of_filter %}
                                    <div class="form-check check_pc">
                                        <input class="form-check-input" type="checkbox" data-names="{{name_of_filter_semi.name_of_filter.id}}" value="{{name_of_filter_semi.id}}" id="flexCheckDefault{{name_of_filter_semi.id}}">
                                        <!-- <input type="hidden" class="name_of_filters_value" value="{{name_of_filter_semi.name_of_filter.id}}"> -->
                                        <label class="form-check-label" for="flexCheckDefault{{name_of_filter_semi.id}}">{{name_of_filter_semi.name}}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn send_filters" style="margin-top: 15px;">Показати</button>
            </form>
        </div>
        

        <div class="offcanvas_div">
            <div class="filter_button_div">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">Фільтри</button>
            </div>
            
              
            <div class="offcanvas offcanvas-start" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="staticBackdropLabel">Фільтри</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <form class="filters_offcanvas" method="POST" >
                            {% csrf_token %}
                            <div class="price-filter-phone">
                                <div class="price-name-phone">
                                    <h5>Ціна</h5>
                                </div>
                                
                                <div class="price-input-phone">
                                    <div class="field-phone">
                                        <input type="number" class="input-min-phone" value="{{min_price}}">
                                    </div>
                                    <div class="separator-phone">-</div>
                                    <div class="field-phone">
                                        <input type="number" class="input-max-phone" value="{{max_price}}">
                                    </div>
                                </div>
                                <div class="slider-phone">
                                    <div class="progress-phone"></div>
                                </div>
                                <div class="range-input-phone">
                                    <input type="range" id="min-price-slider-phone" min="{{min_price}}" max="{{max_price}}" step="1"
                                        value="{{min_price}}">
                                    <input type="range" id="max-price-slider-phone" min="{{min_price}}" max="{{max_price}}" step="1"
                                        value="{{max_price}}">
                                </div>
                            </div>
                            
            
                            {% for name_of_filter in names_of_filters %}
                                <div class="filter_category filter_category_phone" method="POST">
                                    <h5>{{name_of_filter.name}}</h5>
                                    {% for name_of_semi_filter in list_of_filters %}
                                        {% for name_of_filter_semi in name_of_semi_filter %}
                                            {% if name_of_filter == name_of_filter_semi.name_of_filter %}
                                                <div class="form-check check_phone">
                                                    <input class="form-check-input" type="checkbox" value="{{name_of_filter_semi.id}}" id="flexCheckDefault_offcanvas_{{name_of_filter_semi.id}}">
                                                    <label class="form-check-label" for="flexCheckDefault_offcanvas_{{name_of_filter_semi.id}}">{{name_of_filter_semi.name}}</label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            
                            <button type="submit" data-bs-dismiss="offcanvas" class="btn send_filters" style="margin-top: 15px;">Показати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="products">
            <h3 id="error">За вашими фільтрами не знайдено жодного товару!</h3>
            {% for product in all_products %}
                <div class="card_of_product product_{{product.id}}">
                    <input type="hidden" value="{{product.id}}" class="product_id_image">
                    <a href="../product/{{product.id}}"><img class="image_flavour{{product.id}}" src="" alt=""></a>
                    <h5>{{product.name}}</h5>
                    <p>{{product.price}} грн.</p>
                    <select name="{{product.name}}" id="{{product.name}}" class="form-select">
                        {% for flavour in all_flavours %}
                            {% if flavour.for_product.name == product.name %}
                                <option value="{{flavour.id}},{{flavour.for_product}}">{{flavour.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <a href="../product/{{product.id}}" class="text-success">Переглянути</a>
                </div>
            {% endfor %}
        </div>
            
    </div>
{% endblock %}