{% extends 'base/base.html' %}
{% load static %}


{% block link %}
    <!-- <script defer src="{% static 'base\js\jquery-3.7.1.min.js' %}"></script> -->
    <!-- <script defer src="{% static '\catalog_product/js/product.js' %}"></script> -->
    <script defer src="{% static 'catalog_product/js/flavour.js' %}"></script>
    <script defer src="{% static 'catalog_product/js/add_to_cart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'catalog_product/css/product.css' %}">
{% endblock link %}
    

{% block main %}
<!-- d-flex justify-content-center align-items-center mx-5 my-5  -->
    <div class="content">

        <div class="toast-container position-fixed bottom-0 end-0 p-3 me-2">
            <div id="success_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body bg-success">
                    <div class="d-flex text-white justify-content-between">
                        Товар було додано до кошику
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3 me-2">
            <div id="danger_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body bg-danger">
                    <div class="d-flex text-white justify-content-between">
                        Такої кількості товару немає на складі
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        
        
        <div class="image_div">
            <img id="1" class="image_flavour{{product.id}}" src="{{flaur.0.image.url}}" alt="">
        </div>
        <div class="product_info ">
             
            <h1>{{product.name}}</h1>
 
            {% for filter in list_of_filters %}
                <div class="d-flex">
                    {% for obj in filter %}
                        <p>{{obj}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_product" value="{{product.id}}">
                <input type="hidden" name="id_flaur" value="1">
                <select name="selector" id="{{product.name}}" class="form-select w-100 mb-3">
                    {% for flavour in flaur %}
                        {% if flavour.for_product.name == product.name %}
                            <option value="{{flavour.id}},{{flavour.for_product.id}}" {% if forloop.first %}selected{% endif %}>{{flavour.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <p class="mt-2" >{{product.price}} грн.</p>
                <p class="amount_on_base">Кількість на складі: {{flaur.0.count_of_product}} шт.</p>
                <p class="no_product_error">Товару немає в наявності.</p>
                {% if flaur.0.count_of_product > 0 %}
                    <button class="btn btn-success add_to_cart" value='{{flaur.0.count_of_product}}'>Додати в кошик</button>
                {% endif %}
                

            </form>
        </div>

    </div>
{% endblock main %}