{% extends 'base/base.html' %}
{% load static %}


{% block link %}
    <!-- <script defer src="{% static 'base\js\jquery-3.7.1.min.js' %}"></script> -->
    <script defer src="{% static '\catalog_product\js\product.js' %}"></script>
    <script defer src="{% static 'catalog_product\js\flavour.js' %}"></script>
    <script defer src="{% static 'catalog_product\js\add_to_cart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'catalog_product/css/product.css' %}">
{% endblock link %}
    

{% block main %}
<!-- d-flex justify-content-center align-items-center mx-5 my-5  -->
    <div class="content">
        <!-- w-auto d-flex justify-content-start  -->
        <div class="image_div">
            <!-- w-75 m-2  -->
            <img id="1" class="image_flavour{{product.id}}" src="{{flaur.0.image.url}}" alt="">
        </div>

        <div class="d-flex flex-column justify-content-start align-items-center pe-5">
            <p class="h1">{{product.name}}</p> 
 
            {% for filter in list_of_filters %}
                <div class="d-flex">
                    {% for obj in filter %}
                        <p>{{obj}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_product" value="{{product.id}}">
                <input type="hidden" name="id_flaur" value="1">
                <select name="selector" id="{{product.name}}" class="form-select w-100 mb-3">
                    {% for flavour in flaur %}
                        {% if flavour.for_product.name == product.name %}
                            <option value="{{flavour.id}},{{flavour.for_product.id}}" {% if forloop.first %}selected{% endif %}>{{flavour.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <p class="mt-2" >{{product.price}} грн.</p>
                <button class="btn btn-success add_to_cart">Додати в кошик</button>
            </form>
        </div>

    </div>
{% endblock main %}