{% extends 'base/base.html' %}
{% load static %}


{% block link %}
    <script src="{% static 'order/order.js' %}" defer></script>
    <script async src="https://pay.google.com/gp/p/js/pay.js" onload="onGooglePayLoaded()" defer></script>
{% endblock link %}
    
<!-- disabled  -->
{% block main %}
    <div class="container-md h-75 d-flex justify-content-center align-items-center mt-5 pt-5">
        <form class="row g-3 needs-validation mt-5 p-5 justify-content-center align-items-end border border-2" novalidate>
            <div class="col-md-6">
                <label for="post_select" class="form-label" >Оберіть пошту для відпрвки</label>
                <select class="form-select " id="post_select" name="post" required>
                    <option selected value="NP">Нова пошта</option>
                    <option value="UP">Укр пошта</option>
                </select>
                <div class="invalid-feedback">
                    Будьласка оберіть один з наданих варіантів.
                </div>
                <div class="valid-feedback">
                    Підтверджено.
                </div>
            </div>
            <div class="col-md-6">
                <label for="sending_option" class="form-label">Оберіть Варіант отримання</label>
                <select class="form-select" id="sending_option" name="sending_option" required>
                    <option selected value="NP-home">У відділення</option>
                    <option value="NP_box">Поштомат</option>
                </select>
                <div class="invalid-feedback">
                    Будьласка оберіть один з наданих варіантів.
                </div>
                <div class="valid-feedback">
                    Підтверджено.
                </div>
            </div>
            <div class="col-md-8">
                <label for="address" class="form-label">Адреса проживання</label>
                <input type="text" class="form-control" id="address" name="address" required>
                <div class="invalid-feedback">
                    Будьласка, введіть адресу проживання.
                </div>
            </div>
            <div class="col-md-4">
                <label for="post_index" class="form-label">Індекс нової пошти</label>
                <input type="text" class="form-control" id="post_index" name="post_index" required>
                <div class="invalid-feedback">
                    Будьласка, введітьб індекс нової пошти
                </div>
            </div>
            <div class="col-md-3 " id="btn_pay">
                <!-- <label for="post_select" class="form-label">Оберіть варіант оплати</label>
                <select class="form-select" id="post_select" required>
                    <option selected value="NP">Google Pay</option>
                    <option value="UP">Оплата картой Visa/MasterCard</option>
                </select>
                <div class="invalid-feedback">
                    Будьласка оберіть один з наданих варіантів.
                </div>
                <div class="valid-feedback">
                    Підтверджено.
                </div> -->
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Номер карти</label>
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Підтверджено.
                </div>
                <div class="invalid-feedback">
                    Будьласка, введіть номер карти.
                </div>
            </div>
            <div class="col-md-3">
                <label for="number_post" class="form-label">Термін придатності карти</label>
                <div class="input-group">
                    <input type="text" maxlength="2" class="form-control" id="number_post" name="number_post" required>
                    <span class="input-group-text">/</span>
                    <input type="text" maxlength="2" class="form-control" id="number_post" name="number_post" required>
                    <div class="valid-feedback">
                        Підтверджено.
                    </div>
                    <div class="invalid-feedback">
                        Оберіть термін придатності.
                    </div>
                </div>
                
            </div>
            <div class="col-md-2">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">СVV</span>
                    <input type="text" maxlength="3" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Заповніть це поле.
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-row justify-content-center align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        "Я згоджуюсь з умовамі відправки."
                    </label>
                    <div class="invalid-feedback">
                        Ви повинні підтвердити умови відправки.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
    
    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
{% endblock main %}
    