*{
    margin: 0;
    padding: 0;

}

.content{
    display: flex;
    align-items: start;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.image_div{
    display: flex;
    justify-content: start;
    width: 25%;
}

.image_div img{
    width: 75%;
    margin: 2%;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
/* .product_info h1{
    font-size:25px;
} */
.no_product_error{
    display: none;
}

@media (max-width: 1024px) {
    .image_div img{
        width: 100%;
    }
    .product_info h1{
        font-size:30px;
    }
    .product_info p{
        font-size: 15px
    }
    select{
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .content{
        flex-direction: column;
        justify-content: start;
    }
    .image_div{
        width: 40%;
        margin-bottom: 3%;
    }
    .product_info h1{
        font-size:25px;
    }

}

@media (max-width:600px){
    .content{
        flex-direction: column;
        justify-content: start;
        margin-bottom: 3%;
    }
    .image_div{
        width: 75%;
    }
    .product_info h1{
        font-size:30px;
    }
    .product_info p{
        font-size: 16px
    }
}

@media (max-width:425px){
    .product_info p{
        font-size: 15px;
    }
    .product_info h1{
        font-size: 25px;
    }
    .form-select{
        font-size: 15px !important;
    }
}