*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #f5e5dc !important; */
    background-color: #FEF8FB !important;
}
 /* class="bg-light" */
body, html{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    /* padding-top: 80px; */
    overflow-x: hidden;
    
}

main{
    height: max-content;
    width: 100%;
}

main a{
    text-decoration: none;
}


header h1{
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;;
    color: rgb(255, 255, 255);
    font-weight: bold;  
}
header h1 a{
    color: white;
    font-size:40px;
}

header p{
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
    margin: 0; 
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header a:hover{
    color: rgb(255, 255, 255);
}

header #catalog{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header #catalog:hover{
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    width: 100%;    
    /* background-color: #f3d7a3; */
    /* background-color: #DB2368; */
    /* background-color: #F49A9E; */
    /* background-color: #FF8686; */
    background-color: #FF847C;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 80px;
    margin: 0 !important;

    -webkit-box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
}


.burger_icon, .burger_close{
    display: none;
}

.header_list{
    display: none;
}



footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15%;
    /* height: 80px; */
    background-color: #b35c57;
    padding: 1%;
    /* position: absolute;
    bottom: 0;
    z-index: -1; */
    /* margin-top: auto; */
}

footer h3 a{
    text-decoration: none;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;;
    color: rgb(255, 255, 255);
    font-weight: bold;  
}

footer .our_pages{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 5%; */
}
footer .phone_and_email{
    display: flex;
    /* gap: 5%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_pages a{
    /* text-decoration: none; */
    /* color: rgb(0, 0, 0); */
    color: var(--bs-body-color);
    /* font-size: 20px; */
}

.our_pages a:hover{
    color: rgb(255, 255, 255);
}

footer p{
    margin-bottom: 0 !important;
}
footer h5{
    margin-bottom: 1%;
    color: black;
}

.footer_info{
    display: none;
    /* justify-content: space-between;
    align-items: center; */
    /* width: 31%; */
    /* flex-direction: row; */
}



/* @media (max-width: ) */


@media (max-width: 768px){
    .burger_icon{
        display: inline-block;
    }
    .cart, .logout, .orders, .name_of_user, .auth, .reg, .main, .catalog{
        display: none;
    }
    header{
        justify-content: space-between;
        gap: 0;
        padding: 0 5%;
        z-index:100;
    }
    header h1 a{
        color: white;
        font-size:34px;
    }
    
    .header_list{
        display: block;
        font-size: 28px;
        /* background-color:#d4bb8d; */
        background-color:#f7b6aa;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 100vw;
        transition: all 0.5s;
    }
    footer h5{
        font-size: 16px;
    }
    footer p{
        font-size: 14px;
    }
    footer{
        gap: 10%;
    }
    
    #open{
        
        left: 0;
    }
    
    #burger_open_icon{
        display:inline-block;
    }
    
    #burger_close_icon{
        display: none;
    }
    
    #carousel_close{
        display:none !important;
    }
    
    li{
        list-style-type: none;
        text-align: start;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        
    }
    
    li a{
        font-size: 24px;
        padding-top: 3%;
    }
}

@media (max-width: 425px){
    header h1 a{
        color: white;
        font-size:30px;
    }
}

@media (max-width: 1000px){
    header a{
        font-size: 18px;
    }
}

@media (max-width: 500px){
    footer{
        flex-direction: column;
        /* align-items: start; */
        /* padding-left: 7%; */
    }
    footer h3 {
        margin-bottom: 15px;
    }
    footer .our_pages{
        margin-bottom: 15px;
    }
    footer .phone_and_email{
        margin-bottom: 15px;
    }
    #default{
        display: none;
    }
    .footer_info{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

}