*{
    margin: 0;
    padding: 0;
}



body, html{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    /* padding-top: 80px; */
}

body{
    background-color: blue;
}

main{
    height: max-content;
    width: 100%;
}

main a{
    text-decoration: none;
}

/* html, body{
    height: 100%;
} */

header{
    top: 0;
    height: 80px;
    /* background-color: #FF9B26; */
}

/* .header {
    z-index: 3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF9B26;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60%;
} */

header h1{
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;;
}

header p{
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
    margin: 0; 
}

header #name-of-site{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

header #name-of-site:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

header .header_links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header .header_links a:hover{
    color: rgb(255, 255, 255);
}

/* header .header_links{
    display: flex;
    align-items: center;
    gap: 10%;
} */
/* 
.first_header {
    display: flex;
    align-items: center;
    gap: 25%;
} */

header #catalog{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header #catalog:hover{
    color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(39, 39, 39);
    display: flex;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    
}

footer h2 a {
    color: white;
    text-decoration: none;
}

footer h2, footer div {
    margin: 1%;
}

.hrefs {
    color: White;
    display: flex;
    flex-direction: column;
}
.hrefs a {
    color: white;
}

footer h2 a {
    transition: all 1s;
}

footer h2 a:hover, :focus {
    text-shadow: 0px 2px 10px yellow;
    font-size: larger;
}

.socialmedias {
    display: flex;
    flex-direction: column;
}

.socialmedias div a img {
    width: 100%;
}
.socialmedias div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialmedias div a {
    display: inline-block;
    width: 5%;
    margin: 1%;
}

header a {
    transition: all 0.5s;
}
header a:hover {
    color: white;
    font-weight: bold;
    text-shadow: -4px 5px 3px black;
}

.first_header h1 a {
    transition: all 1s;
}

.first_header h1 a:hover {
    text-shadow: 0px 2px 10px;
    border: 0px solid black;
}